.popup__form-input {
  max-width: 354px;
  width: 100%;
  /*при выставлении min-width + width 100% поля занимают всю ширину формы, 
  поэтому использовала сочетание max-width + width 100% */
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-input:nth-of-type(1) {
  margin-bottom: 26px;
}

.popup__form-input:focus {
  outline: transparent;
}

@media screen and (max-width: 768px) {
  .popup__form-input {
    max-width: 234px;
  }
}