.popup__about {
  width: 358px;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__about:focus {
  outline: transparent;
}

@media screen and (max-width: 768px) {
  .popup__about {
    width: 238px;
  }
}
