.card {
  max-width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: 362px;
    height: 436px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    max-width: 282px;
    height: 361px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    max-width: 362px;
    height: 436px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 282px;
    height: 361px;
  }
}
